@charset "utf-8";
/* CSS Document */
body{margin:0; padding:0;}
*{font-size:12px; font-family:'微软雅黑'; margin:0; padding:0; outline:none;}
#login{position:fixed; top:100px; border:#ddd solid 1px; box-shadow:1px 1px 10px #ccc; background:#fff; border-radius:5px; padding:30px;}
#login *{display:block;}
#login h1{font-size:18px; height:40px;}
#login label{height:60px;}
#login #username{background:#f1f1f1 url(../images/user.png) 5px center no-repeat;}
#login #password{background:#f1f1f1 url(../images/lock.png) 5px center no-repeat;}
#login label input{border:#ddd solid 1px; border-radius:5px; height:40px; width:250px; padding-left:35px;}
#login #but{width:287px; border:green solid 1px; background:green; color:#fff; font-size:16px; height:40px; border-radius:5px; cursor:pointer;}
#login #but:hover{background:ForestGreen;}
