@charset "utf-8";
/* CSS Document */
body{margin:80px 20px 20px 200px;; padding:0; background:#eaeff3;}
*{font-size:12px; font-family:'微软雅黑'; list-style:none; margin:0; padding:0;}

#menu{position:fixed; z-index:10; top:0; left:0; width:180px; height:100%; background:#1c2b36;}
#menu #logo{background:#29c7ca; text-align:center; font:bold 22px/60px '微软雅黑'; height:60px;}
#menu *{display:block; color:#fff; text-decoration:none;}
#menu li{cursor:pointer;}
#menu li b{padding:10px 40px; font-size:12px; background:url(../images/menu1.png) 10px center no-repeat; background-size:15px 15px;}
#menu li a{padding:8px 40px; display:none; opacity:0.6; margin-left:2px;}
#menu li a:hover{opacity:1;}
#menu li.on{background:#0f1922 url(../images/menu.png) 160px 15px no-repeat; border-bottom:#000 solid 1px; border-top:#000 solid 1px;}
#menu li.on b{border-left:#3bc0c3 solid 2px; font-size:15px; color:#29c7ca;}
#menu li.on a{display:block;}

header{background:#1c2b36; height:60px; width:100%; text-align:right; position:fixed; z-index:9; top:0; left:0;}
header span{display:inline-block; color:#fff; font-size:14px; margin:10px;}
header span img{float:left; width:40px; height:40px; border:#fff solid 1px; border-radius:100px; margin-right:10px;}


#dataInfo{width:100%; overflow:hidden;}
#dataInfo li{display:inline-block; width:150px; background:#fff; text-align:center; padding:10px 0; font-size:13px; margin-right:10px;}
#dataInfo li b{display:block; font-size:16px;}


